<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <style>
    table {
        border-collapse: collapse;
        border: 1px solid grey;
    }

    th, td {
        border: 1px solid grey;
        padding: 5pt;
    }

    #content {
      padding-left: 20pt;
      max-width: 700px;
    }

    pre {
      margin-top: 0pt;
      margin-bottom: 30pt;
    }

    h1, h2, h3, h4 {
      font-family: Arial;
    }
</style>

</head>
<body>
  <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
