{% extends "base.html" %}

{% block content %}
<h1>Тип {{ dc.name}}</h1>
{{ dc.doc_str }}
<h2>Поля</h2>
<table>
    <thead>
    <tr>
        <td>Имя</td>
        <td>Тип</td>
        <td>Значение по-умолчанию</td>
        <td>Описание</td>
    </tr>
    </thead>
    {% for item in dc.class_fields %}
    <tr>
        <td>{{ item.field_name }}</td>
        <td>{{ type_final(item.field_type) }}</td>
        <td>
            {% if item.has_default %}
                {{ value_readable_form(item.field_default) }}
            {% endif %}
        </td>
        <td>{{ item.field_remark }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
