{% extends "base.html" %}

{% block content %}
<h1>Список компонентов</h1>
    {% for item in rpc_components %}
    <a href="{{ item.url }}">{{ item.name }}</a>
    <br>
    {% endfor %}
{% endblock %}
