{% extends "base.html" %}

{% block content %}
<h1>{{method.name}}</h1>
    {{method.doc_str}}
    <a href="{{method.input_url}}">{{method.input}}</a><br>
    <a href="{{method.output_url}}">{{method.output}}</a>
    <hr>
    {% include ''+ method.name + '.html' %}

{% endblock %}
