{% extends "base.html" %}

{% block content %}
    <h1>{{rpc_component.name}}</h1>
        {{rpc_component.doc_str}}
    <h2>Список методов</h2>
    {% for item in rpc_component.methods %}
      <a href="{{ item.url }}">{{ item.name }}</a>
      <br>
    {% endfor %}
{% endblock %}
