<br>
Запрос:
<pre>
<code>
{
    "jsonrpc": "2.0",
    "method": "simple.info",
    "params": {
        "info": "test_value"
    },
    "id": 1
}
</code>
</pre>
Ответ:
<pre>
<code>
{
    "jsonrpc": "2.0",
    "result": {
        "info": "test_value"
    },
    "id": 1
}
</code>
</pre>
<br>
